input[type="text"] {
  width: 200px;
  margin-top: 4px;
}

.clickable{
    cursor: pointer;
}

.linkButton {
  height: 40px;
  margin-top: 4px;
}

.truncate-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


