<div class="mb-3">
  <label class="form-label">Upload File:</label>
  <div class="input-group">
    <div class="form-control clickable" (click)="fileInput.click()">
      {{ selectedFileName || 'Click to select a file' }}
    </div>
    <button class="btn btn-primary" type="button" (click)="fileInput.click()">
      <i class="bi bi-upload"></i>
    </button>
  </div>
  <input #fileInput type="file" (change)="upload($event)" hidden />
</div>

<div class="mb-3">
  <label class="form-label">Web Link:</label>
  <input type="text" class="form-control w-100" [(ngModel)]="webLink" />
</div>
