<div>
  <label class="form-label">Chat Window:</label>
  <div class="chat-window mb-2" #chatWindow>
    <div *ngFor="let msg of messages" class="border-bottom py-1">
      <span [ngClass]="{ 'msgUser': msg.user === 'You', 'msgAssistant': msg.user === 'Assistant' }">{{ msg.user }}: </span><span class="msgText">{{ msg.text }}</span>
      <div *ngIf="msg.source" class="msgSource"> (Sources: {{ msg.source }})</div>
    </div>
  </div>
  <div class="input-group">
    <input type="text" class="form-control" 
      [placeholder]="'Type your message here...'"
      [(ngModel)]="currentMessage" 
      (keyup.enter)="sendMessage()" />
    <button class="btn btn-primary" type="button" (click)="sendMessage()">
      <i class="bi bi-send"></i>
    </button>
  </div>
</div>
